---
layout: blog
---

<article>
  <header class="post-header">
    <div class="post-date">
      {{ page.date | date: '%B %e, %Y' }}
    </div>
    <h2>{{ page.title }}</h2>
  </header>
  <div class="post-body">
    {{ content }}
  </div>
</article>

{% for post in site.posts %}
  {% if post.url == page.url %}
    {% assign currentIndex = forloop.index0 %}
    {% assign olderIndex = currentIndex | plus: 1 %}
    {% assign newerIndex = currentIndex | minus: 1 %}
    {% assign articleIndexLength = forloop.length | minus: 1 %}
    
    {% if currentIndex == articleIndexLength %}
      {% assign newerPost = site.posts[newerIndex] %}
    {% endif %}
    
    {% if currentIndex < articleIndexLength and currentIndex != 0 %}
      {% assign newerPost = site.posts[newerIndex] %}
      {% assign olderPost = site.posts[olderIndex] %}
    {% endif %}
    
    {% if currentIndex == 0 %}
      {% assign olderPost = site.posts[olderIndex] %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if newerPost != null or olderPost != null %}
  <div class="post-nav">  
    {% if newerPost != null %}
      <div>
        <span class="lead-in">Newer:</span> <a href="{{ newerPost.url }}">{{ newerPost.title }}</a>
      </div>
    {% endif %}
    
    
    {% if olderPost != null %}
      <div>
        <span class="lead-in">Older:</span> <a href="{{ olderPost.url }}">{{ olderPost.title }}</a>
      </div>
    {% endif %}
  </div>
{% endif %}