---
layout: base
---

<header class="blog-header">
  <div>
    <h1>Infinite, <br>Worthless <br>Time</h1>
    <p>Notes from a temporary retirement</p>
  </div>
</header>
<main class="blog-body">
  {{ content }}
</main>
{% include '_footer' %}