---
layout: base
---

<header class="shelf-header">
  <div>
    <h1>{{ title }}</h1>
    <p>A giant list of video games</p>
  </div>
</header>
<main class="shelf-body">
  {{ content }}
</main>
{% include '_footer' %}