@use 'partials/normalize';
@use 'partials/colors';
@use 'partials/type';

// Stuff to reuse
$standard-transition: all 150ms linear;
$body-text-size: clamp(16px, 3.7vw, 22px);

body {
  font-feature-settings: 'kern';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.light {
  background: colors.$color-slate-100;
  color: colors.$color-slate-900;
  .front {
    .highlight {
      background: colors.$color-slate-200;
    }
    a:hover {
      color: colors.$color-slate-100;
    }
  }
  .post-body {
    blockquote, div.highlight, code {
      background: colors.$color-slate-200;
    }
    blockquote, div.highlight {
      border-top: 1px solid colors.$color-slate-300;
      border-bottom: 1px solid colors.$color-slate-300;
    }
  }
  .post-body a, .pagination a, .post-nav a {
    color: colors.$color-dr05-orange-700;
    &:hover {
      background: colors.$color-dr05-orange-700;
      color: colors.$color-slate-100;
    }
  }
  .about-body {
    a {
      color: colors.$color-dr05-red-700;
      &:hover {
        background: colors.$color-dr05-red-700;
        color: colors.$color-slate-100;
      }
    }
  }
  .shelf {
    .shelf-intro a {
      color: colors.$color-purple-700;
      &:hover {
        background: colors.$color-purple-700;
        color: colors.$color-slate-100;
      }
    }
    .icon {
      filter: invert(20%) sepia(10%) saturate(1816%) hue-rotate(176deg) brightness(101%) contrast(85%);
    }
  }
}

.dark {
  background: colors.$color-slate-700;
  color: colors.$color-slate-100;
  .front {
    .highlight {
      background: colors.$color-slate-600;
    }
  }
  .post-body {
    blockquote, div.highlight, code {
      background: colors.$color-slate-500;
      color: colors.$color-slate-50;
    }
    blockquote, div.highlight {
      border-top: 1px solid colors.$color-slate-400;
      border-bottom: 1px solid colors.$color-slate-400;
    }
  }
  .post-body a, .pagination a, .post-nav a {
    color: colors.$color-dr05-orange-300;
    &:hover {
      background: colors.$color-dr05-orange-700;
      color: colors.$color-slate-100;
    }
  }
  .about-body {
    a {
      color: colors.$color-dr05-red-200;
      &:hover {
        background: colors.$color-dr05-red-700;
        color: colors.$color-slate-100;
      }
    }
  }
  .shelf {
    .shelf-intro a {
      color: colors.$color-purple-300;
      &:hover {
        background: colors.$color-purple-700;
        color: colors.$color-slate-100;
      }
    }
    .icon {
      filter: invert(80%) sepia(10%) saturate(383%) hue-rotate(165deg) brightness(90%) contrast(91%);
    }
  }
}

// ============================= BASE (~360px to 639) 
body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
h1 {
  display: inline;
  font-family: 'Valkyrie A Caps';
  font-feature-settings: 'ss10';
  font-size: clamp(20px, 15dvw, 5rem);
  margin: 0;
}
.highlight {
  padding: 0 1rem .5rem 1rem;
}
a {
  color: inherit;
  padding: 0 .25rem;
  text-decoration: none;
  &:hover {
    transition: $standard-transition;
  }
}
footer {
  background: colors.$color-slate-800;
  color: colors.$color-slate-100;
  justify-self: end;
  padding: 2rem;
  a {
    transition: $standard-transition;
    &:hover, &.nav-active {
      background: colors.$color-slate-600;
    }
  }
  ul {
    font-family: 'Valkyrie A Caps';
    font-feature-settings: 'ss10';
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}

// FRONT
.front {
  height: 100dvh;
  main {
    border-top: 1px solid colors.$color-slate-400;
    border-bottom: 1px solid colors.$color-slate-400;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 2rem;
    padding: 15dvh 0 2rem 0;
  }
  ul {
    font-family: 'Valkyrie A Caps';
    font-feature-settings: 'ss10';
    font-size: clamp(14px, 7dvw, 2rem);
    font-weight: bold;
    line-height: 1.5;
    list-style: none;
    margin: 2rem 0 0;
    padding: 0;
  }
  a.nav-shelf:hover {
    background: colors.$color-purple-700;
  }
  a.nav-iwt:hover {
    background: colors.$color-dr05-orange-700;
  }
  a.nav-about:hover {
    background: colors.$color-dr05-red-700;
  }
}
// END FRONT

// BLOG
.blog-header {
  background: colors.$color-dr05-orange-700;
  p {
    font-family: 'Valkyrie A';
    font-size: 1.2rem;
    font-style: italic;
    margin: 1rem 0 0 0;
  }
}
.post-list {
  padding: 0 0 2rem 0;
  .post-header {
    border-top: 1px solid colors.$color-slate-400;
    padding: 2rem 0;
  }
  article:first-of-type {
    .post-header {
      border-top: none;
      padding-top: 0;
    }
  }
  article:last-of-type {
    .post-header {
      padding-bottom: 0;
    }
  }
  .post-list-link {
    padding: 0;
    transition: $standard-transition;
    &:hover {
      color: colors.$color-slate-400;
    }
  }
}
article {
  a {
    padding: 0;
  }
}
.post-header {
  h2 {
    font-family: 'Valkyrie A';
    font-size: clamp(24px, 4.5vw, 32px);
    font-weight: bold;
    line-height: 1.1;
    margin: 1rem 0 0;
  }
}
.post-date {
  font-family: 'Valkyrie A Caps';
  font-feature-settings: 'ss10';
  font-size: 1.1rem;
  line-height: 1rem;
}
.post-body {
  padding-top: 2rem;
  h3 {
    font-family: 'Valkyrie A Caps';
    font-feature-settings: 'smcp' 1, 'c2sc' 1, 'ss01' 1;
    line-height: 1.2;
    margin: 2rem 0 .5rem 0;
  }
  h4 {
    margin: 2rem 0 .5rem 0;
  }
  blockquote {
    padding: 2rem;
    font-size: 90%;
  }
  div.highlight {
    margin: 0 0 1rem 0;
    padding: 1rem;
  }
}
.lead-in {
  font-family: 'Valkyrie A Caps';
  font-feature-settings: 'smcp' 1, 'c2sc' 1, 'ss01' 1;
  font-weight: bold;
}
.pagination {
  border-top: 4px solid colors.$color-slate-400;
  display: flex;
  font-family: 'Valkyrie A Caps';
  font-feature-settings: 'smcp' 1, 'c2sc' 1, 'ss01' 1;
  font-size: $body-text-size; 
  justify-content: space-between;
  margin: 2rem 2rem 0 2rem;
  padding-top: 2rem;
  .newer, .page-count, .older {
    width: 33%;
  }
  .newer {
    font-weight: bold;
    text-align: left;
  }
  .page-count {
    text-align: center;
  }
  .older {
    font-weight: bold;
    text-align: right;
  }
}
.post-nav {
  border-top: 4px solid colors.$color-slate-400;
  display: flex;
  flex-direction: column;
  font-family: 'Valkyrie A';
  font-size: $body-text-size;
  font-weight: bold;
  gap: 1rem;
  margin: 2rem;
  padding-top: 2rem;
}
// END BLOG

.about, .shelf {
  display: flex;
  flex-direction: column;
  h1 {
    font-family: 'Valkyrie A Caps';
    font-feature-settings: 'ss10';
    font-size: 2.5rem;
    line-height: 2rem;
    margin: 0;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
.blog-header, .about-header, .shelf-header {
  color: colors.$color-slate-100;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem;
  margin: 2rem;
  h1 {
    font-size: 2rem;
    line-height: 1.8rem;
  }
  p {
    font-family: 'Valkyrie A';
    font-size: 1.2rem;
    font-style: italic;
    margin: 1rem 0 0 0;
  }
}

article, .about-body, .shelf-body {
  font-family: 'Valkyrie A';
  font-feature-settings: 'ss01', 'liga';
  font-size: $body-text-size;
  line-height: 1.4;
  padding: 0 2rem;
}

.post-body, .about-body {
  p, blockquote, li {
    margin: 0 0 1rem 0;
  }
  :last-child {
    margin-bottom: 0;
    li:last-of-type {
      margin-bottom: 0;
    }
  }
  ol, ul {
    padding-left: 2rem;
  }
  a {
    text-decoration: none;
    transition: $standard-transition;
  }
  pre, code {
    font-family: 'Triplicate A Code';
    font-feature-settings: 'ss01' 0, 'ss02' 1;
    font-size: 90%;
  }
  pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    code {
      background: none;
      white-space: pre-wrap;
    }
  }
  code {
    padding: 0.1rem;
    white-space: nowrap;
  }
}


// ABOUT
.about-header {
  background: colors.$color-dr05-red-700;
}
.about-body {
  padding: 0 2rem 2rem 2rem;
  p:first-child {
    font-size: 1.2em;
    margin-top: 0;
  }
  h2 {
    font-family: 'Valkyrie A Caps';
    font-feature-settings: 'smcp' 1, 'c2sc' 1, 'ss01' 1;
    // Emulate default browser sizing so these H2s match the blog's H3s
    font-size: 1.17em;
    line-height: 1.2;
    margin: 0 0 .5rem 0;
  }
  a {
    padding: 0;
  }
}
.theme-control {
  background: colors.$color-dr05-blue-200;
  border: 2px solid colors.$color-dr05-blue-500;
  bottom: 1rem;
  fieldset {
    border: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  legend {
    display: none;
  }
  button {
    background: none;
    border: none;
    flex-basis: 33.333333%;
    margin: 0;
    padding: 0;
    input[type="radio"] {
      display: none;
      &:checked + label {
        background: colors.$color-dr05-red-700;
        color: colors.$color-dr00-buff-100;
      }
    }
    label {
      color: colors.$color-dr05-blue-900;
      cursor: pointer;
      display: inline-block;
      font-family: 'Valkyrie A Caps';
      font-feature-settings: 'ss10';
      font-size: 1.3rem;
      padding: .7rem;
      width: calc(100% - 1.4rem);
    }
  }
}
// END ABOUT

// SHELF
.shelf-header {
  background: colors.$color-purple-600;
}
.shelf-body {
  padding: 0 2rem 2rem 2rem;
  gap: 2rem;
  a {
    padding: 0;
  }
  table {
    display: none;
  }
}
.shelf-intro {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
.non-table {
  p {
    margin: .5rem 0 0;
  }
  h2 {
    font-size: 1.3em;
  }
  .total {
    padding-top: 1rem;
    margin-top: 2rem;
  }
}
.game {
  border-top: 1px solid colors.$color-slate-400;
  padding-top: 2rem;
  margin-top: 2rem;
}

.closed {
  .game-notes {
    display: none;
  }
  .icon {
    transform: rotate(0deg);
    transition: $standard-transition;
  }
}
.open {
  .game-notes {
    display: block;
  }
  .icon {
    transform: rotate(90deg);
    transition: $standard-transition;
  }
  ul {
    padding-left: 2rem;
    margin: .5rem 0 1rem;
  }
}
a {
  color: inherit;
}
.cell-game {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.name {
  display: inline;
  font-size: 1.3em;
  line-height: 1.1;
  padding: 0 3px;
  margin: 0 0 0 -3px;
}
.toggle {
  cursor: pointer;
  &:hover {
    .name {
      background: colors.$color-orange-700;
      box-decoration-break: clone;        
      -webkit-box-decoration-break: clone;        
      color: colors.$color-orange-50;
      transition: $standard-transition;
    }
    .icon {
      filter: invert(26%) sepia(60%) saturate(2235%) hue-rotate(357deg) brightness(101%) contrast(95%);
      transition: $standard-transition;
    }
  }
}
.icon {
  height: 20px;
  margin-top: 5px;
}
.game-notes {
  p {
    margin: .5rem 0 0;
  }
}
.badge {
  border-radius: .25rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  font-family: 'Valkyrie A Caps';
  font-feature-settings: 'smcp' 1, 'c2sc' 1, 'ss01' 1;
  font-weight: bold;
  padding: .25rem .4rem;
  text-align: left;
  vertical-align: baseline;
}
.status-backlog {
    background: colors.$color-sky-600;
    color: colors.$color-sky-50;
}
.status-coming-soon {
    background: colors.$color-amber-600;
    color: colors.$color-amber-50;
}
.status-done {
    background: colors.$color-slate-600;
    color: colors.$color-slate-50;
}
.status-in-progress {
    background: colors.$color-lime-600;
    color: colors.$color-lime-50;
}
.status-never-going-to-play {
    background: colors.$color-rose-600;
    color: colors.$color-rose-50;
}
.status-to-investigate {
    background: colors.$color-purple-600;
    color: colors.$color-purple-50;
}
.status-abandoned {
    background: colors.$color-teal-600;
    color: colors.$color-teal-50;
}
.total {
  border-top: 4px solid colors.$color-slate-400;
}
// END SHELF

// UTILS
.util-hidden {
  display: none;
}
.util-nowrap {
  white-space: nowrap;
}
// END UTILS
// ========================= END BASE

@media (min-width: 640px) {
  .shelf {
    .shelf-body {
      ul {
        margin: .5rem 0 0;
      }
    }
    .non-table {
      display: none;
    }
    table {
      border-collapse: collapse;
      display: table;
      font-size: $body-text-size;
      line-height: 1.4;
      margin-top: 2rem;
      table-layout: auto;
      width: 100%;
    }
    th, td {
      border: 1px solid;
      padding: 1rem;
      vertical-align: top;
    }
    th {
      border-bottom: 4px solid;
      font-family: 'Valkyrie A Caps';
      font-feature-settings: 'smcp' 1, 'c2sc' 1, 'ss01' 1;
      line-height: 1.2;
      text-align: left;
    }
    tfoot {
      td {
        border: none;
      }
    }
    .name {
      font-size: $body-text-size;
    }
    tr.total {
      border: none;
    }
  }
}

@media (min-width: 768px) {
  article, .about-body {
    width: clamp(300px, 40rem, 650px);
  }
  .shelf-body {
    width: clamp(540px, 100%, 900px);
  }
}

@media (min-width: 1024px) {
  .blog, .about, .shelf {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .blog-header, .about-header, .shelf-header {
    flex: initial;
    margin: 2rem 0 0 2rem;
    padding: 2rem;
    width: clamp(190px, 200px, 30%);
  }
  .post-list {
    article {
      margin: 0;
      padding: 0;
    }
  }
  article, .post-list, .about-body, .shelf-body {
    padding: 2rem;
  }
  .pagination {
    margin: 2rem 0 0 0;
  }
  footer {
    width: 100%;
  }
}