---
title: Shelf
layout: shelf
page_class: shelf
permalink: "/shelf/index.html"
---

<p class="shelf-intro">
  Shelf is a tool for keeping track of my library of video games. I have a lot
  of thoughts about how to do that, so I wrote
  <a href="/about/shelf/">some of them</a> down.
</p>

{% assign gamesList = games.games | sort_natural: "name" %}
{% assign copiesList = copies.copies %}
{% assign platforms = platforms.platforms %}
{% assign services = services.services %}
{% assign statuses = statuses.statuses %}


<div class="non-table">
  {% for game in gamesList %}
    {% assign gameCopies = copiesList | where: 'game_id', game.game_id | sort: 'platform_id' %}
    {% assign gameStatus = statuses | where: 'status_id', game.status_id %}
    {% assign copyUniquePlatforms = gameCopies | map: 'platform_id' | uniq %}
    <details>
      <summary>
        <div class="game-primary-info">
          <h2 class="game-name">
            {{ game.name }}
          </h2>
          {% if game.vintage %}
            <div class="game-date">
              {{ game.vintage | date: '%Y' }}
            </div>
          {% endif %}
        </div>

        <p class="game-status {{ gameStatus[0].status_id | slugify }}" >
          {{ gameStatus[0].text | capitalize }}
        </p>
      </summary>
      {% if gameCopies.size %}
        <ul>
          {% for copy in gameCopies %}
            {% assign copyPlatform = platforms | where: 'platform_id', copy.platform_id %}
            {% if copy.service_id %}
              {% assign copyService = services | where: 'service_id', copy.service_id %}
            {% endif %}
            <li>
              {{ copyPlatform[0].text }}
              {% if copy.service_id %}
               ({{ copyService[0].text }})
              {% endif %}
              {% if copy.physical %}
               (Physical)
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </details>
    {% if forloop.last %}
      <p class="total">
        {{ forloop.length }} game{% if forloop.length > 1 %}s{% endif %}
      </p>
    {% endif %}
  {% endfor %}
</div>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Vintage</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for game in gamesList %}
      {% assign gameCopies = copiesList | where: 'game_id', game.game_id | sort: 'platform_id' %}
      {% assign gameStatus = statuses | where: 'status_id', game.status_id %}
      {% assign copyUniquePlatforms = gameCopies | map: 'platform_id' | uniq %}
      <tr>
        <td>
          <details>
            <summary>
              <h2 class="game-name">
                {{ game.name }}
              </h2>
            </summary>
            {% if gameCopies.size %}
              <ul>
                {% for copy in gameCopies %}
                  {% assign copyPlatform = platforms | where: 'platform_id', copy.platform_id %}
                  {% if copy.service_id %}
                    {% assign copyService = services | where: 'service_id', copy.service_id %}
                  {% endif %}
                  <li>
                    {{ copyPlatform[0].text }}
                    {% if copy.service_id %}
                     ({{ copyService[0].text }})
                    {% endif %}
                    {% if copy.physical %}
                     (Physical)
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </details>
        </td>
        <td>
          {% if game.vintage %}
            {{ game.vintage | date: '%Y' }}
          {% endif %}
        </td>
        <td>
          <span class="game-status {{ gameStatus[0].status_id | slugify }}" >
            {{ gameStatus[0].text | capitalize }}
          </span>
        </td>
      </tr>
      {% if forloop.last %}
        </tbody>
          <tfoot>
            <tr class="total">
              <td colspan="4">
                {{ forloop.length }} game{% if forloop.length > 1 %}s{% endif %}
              </td>
            </tr>
          </tfoot>
      {% endif %}
    {% endfor %}
</table>