---
title: "Zelda Project: Tears of the Kingdom"
date: 2023-08-12 00:00:00 -5
---

<span class="lead-in">Game:</span> The Legend of Zelda: Tears of the Kingdom (2023)

<span class="lead-in">Started:</span> {{ "2023-05-12 00:00:00 -5" | date: '%B %e, %Y' }}

<span class="lead-in">Completed:</span> {{ "2023-08-12 00:00:00 -5" | date: '%B %e, %Y' }}

<p class="lead-in">Notes:</p>

I interrupted the chronological order of this project to play the new game.

Put 300 hours into _TotK_ over three months. I think it realizes the _Breath of the Wild_ vision a little better, but uncovering the surface map is less thrilling than it was the first time.

Interested to see if this is what _Zelda_ is now, or if there's room for other design concepts. I wouldn't say no to a new top-down 2D _Zelda_.
