<div class="theme-control">
  <fieldset>
    <legend>Select a color theme</legend>
    <button class="theme-control-light" type="button">
      <input id="theme-select-light" type="radio" name="theme-select" value="theme-select-light">
      <label for="theme-select-light">
        Light
      </label>
    </button>
    <button class="theme-control-dark" type="button">
      <input id="theme-select-dark" type="radio" name="theme-select" value="theme-select-dark">
      <label for="theme-select-dark">
        Dark
      </label>
    </button>
    <button class="theme-control-system" type="button">
      <input id="theme-select-system" type="radio" name="theme-select" value="theme-select-system">
      <label for="theme-select-system">
        System
      </label>
    </button>
  </fieldset>
</div>