<ul>
  {% comment %}
    Include a Home nav item except on the front page
  {% endcomment %}
  {% unless page.url == '/' %}
    <li>
      <a href="/">
        Home
      </a>
    </li>
  {% endunless %}
  {% for item in site.data.navigation %}
    {% comment %}
      Barfy, repetitive logic to get an About subpage to highlight the About nav item
    {% endcomment %}
    {% if item.url == "/about/" and page.url == "/about/shelf/" %}
      <li>
        <a href="{{ item.url }}" class="nav-active">
          {{ item.name }}
        </a>
      </li>
    {% else %}
      <li>
        <a href="{{ item.url }}"{% if page.url == item.url %}class="nav-active"{% endif %}>
          {{ item.name }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>