:root {
  --color-amber-50:             #fffbeb;
  --color-amber-700:            #b45309;
  
  --color-lime-50:              #f7fee7;
  --color-lime-700:             #4d7c0f;
  
  --color-green-50:             #f0fdf4;
  --color-green-700:            #15803d;
  
  --color-purple-300:           #d8b4fe;
  --color-purple-600:           #9333ea;
  --color-purple-700:           #7e22ce;
  
  --color-sky-50:               #f0f9ff;
  --color-sky-700:              #0369a1;
  
  --color-slate-50:             #f8fafc;
  --color-slate-100:            #f1f5f9;
  --color-slate-200:            #e2e8f0;
  --color-slate-300:            #cbd5e1;
  --color-slate-400:            #94a3b8;
  --color-slate-500:            #64748b;
  --color-slate-600:            #475569;
  --color-slate-700:            #334155;
  --color-slate-800:            #1e293b;
  --color-slate-900:            #020617;
  
  --color-rose-300:             #fda4af;
  
  --color-dr00-buff:            #e3e4db;
  
  --color-dr05-beige:           #bfa07a;
  --color-dr05-blue:            #3b4b59;
  --color-dr05-orange:          #cc6324;
  --color-dr05-red:             #af2e1b;
  --color-dr05-sand:            #d9c3b0;

  --color-dr05-blue-200: hsl(
    from var(--color-dr05-blue)
    h
    s
    calc(l + 30)
  );
  /* --color-dr05-blue-500: */
  /* --color-dr05-blue-900: */
  --color-dr05-orange-300: hsl(
    from var(--color-dr05-orange)
    h
    s
    calc(l + 25)
  );
  /* --color-dr05-red-200: */
  
  --standard-transition: all 150ms linear;
  --body-text-size: clamp(16px, 3.7vw, 22px);
}