/* Matthew Butterick fonts ================================ */

@font-face {
  font-family: 'Valkyrie';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/valkyrie_a_regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Valkyrie';
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/valkyrie_a_italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Valkyrie';
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/valkyrie_a_bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Valkyrie';
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/valkyrie_a_bold_italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Valkyrie Caps';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/valkyrie_a_caps_regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Valkyrie Caps';
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/valkyrie_a_caps_bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Triplicate';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/triplicate_a_code_regular.woff2') format('woff2');
}

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/InterVariable.woff2') format('woff2');
}