// Matthew Butterick fonts ================================

// Advocate 14 Condensed Regular
@font-face {
  font-family: 'Advocate 14 Condensed Regular';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/advocate_14_cond_reg.woff2') format('woff2');
}

// Advocate 16 Condensed Bold
@font-face {
  font-family: 'Advocate 16 Condensed Bold';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/advocate_16_cond_bold.woff2') format('woff2');
}

// Equity A
@font-face {
  font-family: 'Equity A';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/equity_a_regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Equity A';
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/equity_a_italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Equity A';
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/equity_a_bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Equity A';
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/equity_a_bold_italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Equity A Caps';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/equity_a_caps_regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Equity A Caps';
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/equity_a_caps_bold.woff2') format('woff2');
}

// Valkyrie A
@font-face {
  font-family: 'Valkyrie A';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/valkyrie_a_regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Valkyrie A';
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/valkyrie_a_italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Valkyrie A';
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/valkyrie_a_bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Valkyrie A';
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/valkyrie_a_bold_italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Valkyrie A Caps';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/valkyrie_a_caps_regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Valkyrie A Caps';
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/valkyrie_a_caps_bold.woff2') format('woff2');
}

// Triplicate A Code
@font-face {
  font-family: 'Triplicate A Code';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/assets/fonts/triplicate_a_code_regular.woff2') format('woff2');
}