---
title: Shelf
layout: shelf
page_class: shelf
permalink: /shelf/
---

<p class="shelf-intro">
  Shelf is a tool for keeping track of my library of video games. I have a lot of thoughts about how to do that, so I wrote <a href="/about/shelf/">some of them</a> down.
</p>
  
{% assign games_sorted_alpha_by_name = site.data.games_demo | sort_natural: "name" %}
{% assign copy_data = site.data.copies %}

{% comment %}
  Would obviously prefer one layout that would serve for both mobile and larger screens. Could just do a scroll-on-X-axis table, but that's no fun.
{% endcomment %}

{% comment %}
  Non-table for mobile
{% endcomment %}
<div class="non-table">
  {% for game in games_sorted_alpha_by_name %}
    {% comment %}
      Instantiate empty array
    {% endcomment %}
    {% assign copies = game.copies %}
    {% assign game_copies = "" | split: "" %}
    {% for item in copies %}
        {% comment %}
            Get list of copies associated with each game, then retrieve data for those copies from copies.yml and add it to the game_copies array
        {% endcomment %}
        {% assign game_copies = game_copies | push: copy_data[item] %}
    {% endfor %}
    <div class="game">
      <div class="closed">
        {% if copies.size %}
          <a class="toggle">
            <div class="cell-game">
              <div>
                <h2 class="name">{{ game.name | smartify }}</h2>
                {% if copies.size > 1 %} ({{ copies.size }}){% endif %}
              </div>
              <div> 
                <img src="/assets/images/icon-chevron-right-circle-fill.svg" class="icon"/>
              </div>
            </div>
          </a>
          <div class="game-notes">
            {% comment %}
              If there are multiple copies, format them as a list
            {% endcomment %}
            {% if copies.size > 1 %}
              <ul>
                {% for game_copy in game_copies %}
                  <li>
                    {{ game_copy.platform }}
                      {% if game_copy.service %}
                        ({{ game_copy.service }})
                      {% endif %}
                      {% if game_copy.physical %}
                          (Physical)
                      {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% comment %}
              If only one copy, skip the list formatting
            {% endcomment %}
            {% elsif copies.size == 1 %}
              <p>
                {% for game_copy in game_copies %}
                  {{ game_copy.platform }}
                  {% if game_copy.service %}
                    ({{ game_copy.service }})
                  {% endif %}
                  {% if game_copy.physical %}
                      (Physical)
                  {% endif %}
                {% endfor %}
              </p>
            {% endif %}
          </div>
        {% else %}
          <div class="cell-game">
            <h2 class="name">{{ game.name | smartify }}</h2>
          </div>
        {% endif %}
      </div>
      {% comment %}
        Unreleased games will not have a vintage
      {% endcomment %}
      {% if game.vintage %}
        <div>
          <p>
            <span class="lead-in">
              Vintage:
            </span> 
            {{ game.vintage | date: '%B %e, %Y' }}
          </p>
        </div>
      {% endif %}
      {% comment %}
        Every game should have a status, otherwise why is it here?
        But perform a check in case of poorly entered data.
      {% endcomment %}
      {% if game.status %}
        <div>
          <p>
            <span class="lead-in">
              Status:
            </span> 
            <span class="badge status-{{ game.status | slugify }}">
              {{ game.status | capitalize }}
            </span>
          </p>
        </div>
      {% endif %}
    </div>
    {% comment %}
      Close out with a count
    {% endcomment %}
    {% if forloop.last %}
      <p class="total">
        {{ forloop.length }} game{% if forloop.length > 1 %}s{% endif %}
      </p>
    {% endif %}
  {% endfor %}
</div>

{% comment %}
  Table for larger displays
{% endcomment %}
<table>
    <thead>
        <tr>
            <th>Game</th>
            <th>Vintage</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
      {% for game in games_sorted_alpha_by_name %}
        {% comment %}
          Instantiate empty array
        {% endcomment %}
        {% assign copies = game.copies %}
        {% assign game_copies = "" | split: "" %}
        {% for item in copies %}
            {% comment %}
                Get list of copies associated with each game, then retrieve data for those copies from copies.yml and add it to the game_copies array
            {% endcomment %}
            {% assign game_copies = game_copies | push: copy_data[item] %}
        {% endfor %}
          
        <tr>
          <td class="closed">
            {% comment %}
              If a game as associated copies, display them below the name
            {% endcomment %}
            {% if copies.size %}
              <a class="toggle">
                <div class="cell-game">
                  <div>
                    <h2 class="name">{{ game.name | smartify }}</h2>
                    {% if copies.size > 1 %} ({{ copies.size }}){% endif %}
                  </div>
                  <div> 
                    <img src="/assets/images/icon-chevron-right-circle-fill.svg" class="icon"/>
                  </div>
                </div>
              </a>
              <div class="game-notes">
                {% comment %}
                  If there are multiple copies, format them as a list
                {% endcomment %}
                {% if copies.size > 1 %}
                  <ul>
                    {% for game_copy in game_copies %}
                      <li>
                        {{ game_copy.platform }}
                          {% if game_copy.service %}
                            ({{ game_copy.service }})
                          {% endif %}
                          {% if game_copy.physical %}
                              (Physical)
                          {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% comment %}
                  If only one copy, skip the list formatting
                {% endcomment %}
                {% elsif copies.size == 1 %}
                  <p>
                    {% for game_copy in game_copies %}
                      {{ game_copy.platform }}
                      {% if game_copy.service %}
                        ({{ game_copy.service }})
                      {% endif %}
                      {% if game_copy.physical %}
                          (Physical)
                      {% endif %}
                    {% endfor %}
                  </p>
                {% endif %}
              </div>
            {% else %}
              <div class="cell-game">
                <h2 class="name">{{ game.name | smartify }}</h2>
              </div>
            {% endif %}
          </td>
          <td>
            {% comment %}
              Unreleased games will not have a vintage
            {% endcomment %}
            {% if game.vintage %}
              {% comment %}
                Keep month and day on the same line
              {% endcomment %}
              <span class="util-nowrap">{{ game.vintage | date: '%B %e' }}, </span>
              <span>{{ game.vintage | date: '%Y' }}</span>
            {% endif %}
          </td>
          <td>
            {% comment %}
              Every game should have a status, otherwise why is it here?
              But perform a check in case of poorly entered data.
            {% endcomment %}
            {% if game.status %}
              <span class="badge status-{{ game.status | slugify }}">
                {{ game.status | capitalize }}
              </span>
            {% endif %}
          </td>
        </tr>
        {% comment %}
          Close out the table with a row count
        {% endcomment %}
        {% if forloop.last %}
          </tbody>
            <tfoot>
              <tr class="total">
                <td colspan="4">
                  {{ forloop.length }} game{% if forloop.length > 1 %}s{% endif %}
                </td>
              </tr>
            </tfoot>
        {% endif %}
      {% endfor %}
</table>