---
---

@use 'sass:color';

@import 'normalize';
@import 'color';
@import 'type';

$w-20: null;
$w-33: null;
$w-50: null;
$w-66: null;
$w-80: null;

@mixin width-calc($block-gap) {
  $w-20: calc((100vw - #{$block-gap}) * .2) !global;
  $w-33: calc((100vw - #{$block-gap}) * .33333) !global;
  $w-50: calc((100vw - #{$block-gap}) * .5) !global;
  $w-66: calc((100vw - #{$block-gap}) * .66667) !global;
  $w-80: calc((100vw - #{$block-gap}) * .8) !global;
    
  .blocks {
    gap: $block-gap;
  }
}

@include width-calc($block-gap: 1vw);

.light {
  body {
    background: $color-dr00-base;
  }
  h1, ul {
    color: $color-dr00-base;
  }
  a:hover {
    color: $color-dr05-orange-700;
  }
  div[class$="-b"] {
    background: $color-dr05-sand;
  }
  .block-02-a {
    background: $color-dr05-blue-700;
  }
  .block-05-a, .block-08-a {
    background: $color-dr05-orange-700;
  }
  .block-04-a, .block-07-a {
    background: $color-dr05-beige;
  }
}

.dark {
  body {
    background: $color-dr05-blue-900;
  }
  h1, ul {
    color: $color-dr00-base;
  }
  a:hover {
    color: $color-dr05-red-700;
  }
  div[class$="-b"] {
    background: $color-dr05-blue-700;
  }
  .block-02-a, .block-05-a, .block-08-a {
    background: $color-dr05-orange-700;
  }
  .block-04-a, .block-07-a {
    background: $color-dr05-sand;
  }
}

body {
  overflow: hidden;
  font-feature-settings: 'kern';
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

h1 {
  display: block;
  font-family: 'Advocate 16 Condensed Bold';
  font-feature-settings: 'case' 1, 'liga' 0;
  font-size: 8rem;
  line-height: 8rem;
  margin: 0 1rem;
  text-transform: uppercase;
}

ul {
  font-family: 'Equity A Caps';
  font-feature-settings: 'ss10';
  font-size: 1.3rem;
  line-height: 1.3;
  list-style: none;
  margin: 0 1rem 0 0;
  padding: 0;
}

a {
  color: inherit;
  padding: 0 .25rem;
  text-decoration: none;
  &:hover {
    background: $color-dr05-sand;
  }
}

// Mobile/small-screen styles =============================
.blocks {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

div[class*="block-"] {
  height: 8rem;
}

div[class$="-b"] {
  flex-grow: 1;
}

.block-01-a, .block-03-a, .block-06-a {
  background: $color-dr05-red-700;
}

.block-01-a {
  width: $w-33;
}

.block-01-b {
  width: $w-66;
}

.block-02-a {
  align-content: center;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  width: 100vw;
}

.block-02-b {
  display: none;
}

.block-03-a {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  width: $w-80;
}

.block-03-b {
  width: $w-20;
}

.block-04-a {
  width: $w-20;
}

.block-04-b {
  width: $w-80;
}

.block-05-a {
  width: $w-80;
}

.block-05-b {
  width: $w-20;
}

.block-06-a {
  width: $w-50;
}

.block-06-b {
  width: $w-50;
}

.block-07-a {
  width: $w-66;
}

.block-07-b {
  width: $w-33;
}

.block-08-a {
  width: $w-80;
}

.block-08-b {
  width: $w-20;
}

.theme-control {
  background: $color-dr00-base;
  border: 2px solid $color-dr05-blue-700;
  bottom: 1rem;
  display: flex;
  position: absolute;
  left: 1rem;
  button[class*="theme-control-"] {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    input[type="radio"] {
      display: none;
      &:checked + label {
        background: $color-dr05-blue-700;
        color: $color-dr00-base;
      }
    }
    label {
      color: $color-dr05-blue-700;
      cursor: pointer;
      display: inline-block;
      font-family: 'Equity A Caps';
      font-feature-settings: 'ss10';
      font-size: 1.3rem;
      padding: .7rem;
    }
  }
}
// End mobile/small-screen styles =========================
@media (max-width: 639px) {
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (width: 804px) {
}

@media (min-width: 1024px) {
  h1 {
    font-size: 10rem;
    line-height: 10rem;
  }
  
  ul {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  
  .blocks, div[class*="block-"] {
    @include width-calc($block-gap: 1.5vw);
  }
  
  div[class*="block-"] {
    height: 10rem;
  }
  
  .block-02-a {
    width: $w-66;
  }
  
  .block-02-b {
    display: block;
    width: $w-33;
  }
  
  .block-03-a {
    width: $w-50;
  }
  
  .block-03-b {
    width: $w-50;
  }
  
  .theme-control {
    button[class*="theme-control-"] {
      label {
        font-size: 1rem;
        padding: .5rem;
      }
    }
  }
}
