---
---
@use 'sass:color';

@import 'normalize';
@import 'color';
@import 'type';

// Not using these values, but these variables must exist anyway so they can be updated by the `width-calc` mixin. I'm giving them reasonable values (rather than null) in case I decide to ditch the complexity of `width-calc`.
$w-20: 20vw;
$w-33: 33.333vw;
$w-50: 50vw;
$w-66: 66.667vw;
$w-80: 80vw;

// Stuff to reuse
$standard-transition: all 150ms linear;

// Worth it? Requires redeclaring widths every time I want to adjust the gap
@mixin width-calc($block-gap) {
  // Subtract gap from viewport to get slightly more accurate proportions
  $w-20: calc((100vw - #{$block-gap}) * .2) !global;
  $w-33: calc((100vw - #{$block-gap}) * .33333) !global;
  $w-50: calc((100vw - #{$block-gap}) * .5) !global;
  $w-66: calc((100vw - #{$block-gap}) * .66667) !global;
  $w-80: calc((100vw - #{$block-gap}) * .8) !global;
  
  // Allow for setting of gap per breakpoint  
  .blocks {
    gap: $block-gap;
  }
}

body {
  font-feature-settings: 'kern';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

h1 {
  font-family: 'Advocate 16 Condensed Bold';
  font-feature-settings: 'case' 1, 'liga' 0;
}

.light {
  .front {
    background: $color-dr00-buff-100;
    h1, ul {
      color: $color-dr00-buff-100;
    }
    a:hover {
      color: $color-dr05-orange-700;
    }
    div[class$="-b"] {
      background: $color-dr05-sand;
    }
    .block-02-a {
      background: $color-dr05-blue-700;
    }
    .block-05-a, .block-08-a {
      background: $color-dr05-orange-700;
    }
    .block-04-a, .block-07-a {
      background: $color-dr05-beige;
    }
  }
  .blog, .about, .shelf {
    background: $color-dr00-buff-150;
  }
  .posts {
    background: $color-dr00-buff-100;
    color: $color-slate-900;
  }
  .post-list-link {
    &:hover {
      color: $color-dr05-orange-700;
    }
  }
  .post-header, .pagination, .post-nav {
    border-top: 2px solid $color-dr05-sand;
  }
  .post-body {
    border-top: 1px solid $color-dr05-sand;
    blockquote, div.highlight, code {
      background: $color-dr00-buff-150;
    }
    blockquote, div.highlight {
      border-top: 1px solid $color-dr00-buff-200;
      border-bottom: 1px solid $color-dr00-buff-200;
    }
  }
  .post-body a, .post-nav a, .shelf-intro a {
    color: $color-dr05-orange-700;
    &:hover {
      background: $color-dr05-orange-700;
      color: $color-dr00-buff-100;
    }
  }
  .about, .shelf {
    color: $color-slate-900;
  }
  .about-body {
    background: $color-dr00-buff-100;
    a {
      color: $color-dr05-red-700;
      &:hover {
        background: $color-dr05-red-700;
        color: $color-dr00-buff-100;
      }
    }
  }
  .shelf {
    .game {
      border-top: 1px solid $color-slate-900;
    }
    .icon {
      filter: invert(20%) sepia(10%) saturate(1816%) hue-rotate(176deg) brightness(101%) contrast(85%);
    }
    p.total {
      border-top: 4px solid $color-slate-900;
    }
  }
}

.dark {
  .front {
    background: $color-dr05-blue-900;
    h1, ul {
      color: $color-dr00-buff-100;
    }
    a:hover {
      color: $color-dr05-red-700;
    }
    div[class$="-b"] {
      background: $color-dr05-blue-700;
    }
    .block-02-a, .block-05-a, .block-08-a {
      background: $color-dr05-orange-700;
    }
    .block-04-a, .block-07-a {
      background: $color-dr05-sand;
    }
  }
  .blog {
    background: $color-dr05-blue-900;
  }
  .posts {
    background: $color-dr05-blue-800;
    color: $color-dr00-buff-100;
  }
  .post-list-link {
    &:hover {
      color: $color-dr05-blue-300;
    }
  }
  .post-header, .pagination, .post-nav {
    border-top: 2px solid $color-dr05-blue-600;
  }
  .post-body {
    border-top: 1px solid $color-dr05-blue-600;
    blockquote, div.highlight, code {
      background: $color-dr05-blue-800;
    }
    blockquote, div.highlight {
      border-top: 1px solid $color-dr05-blue-600;
      border-bottom: 1px solid $color-dr05-blue-600;
    }
  }
  .post-body a, .post-nav a, .shelf-intro a {
    color: $color-dr05-orange-300;
    &:hover {
      background: $color-dr05-orange-700;
      color: $color-dr00-buff-100;
    }
  }
  .about, .shelf {
    background: $color-dr05-blue-900;
    color: $color-dr00-buff-100;
  }
  .about-body {
    background: $color-dr05-blue-800;
    a {
      color: $color-dr05-red-300;
      &:hover {
        background: $color-dr05-red-700;
        color: $color-dr00-buff-100;
      }
    }
  }
  .shelf {
    .game {
      border-top: 1px solid $color-dr00-buff-100;
    }
    .icon {
      filter: invert(80%) sepia(10%) saturate(383%) hue-rotate(165deg) brightness(90%) contrast(91%);
    }
    p.total {
      border-top: 4px solid $color-dr00-buff-100;
    }
  }
}

// ============================= BASE (~360px) 
@include width-calc($block-gap: .3rem);

// FRONT
// Ugly measure to account for shallow viewports
@media (height < 35rem) {
 div[class*="block-01"] {
   display: none;
 } 
}
.front {
  overflow: hidden;
  h1 {
    font-family: 'Advocate 16 Condensed Bold';
    font-size: 7rem;
    margin: 0 1rem;
  }
  ul {
    font-family: 'Valkyrie A Caps';
    font-feature-settings: 'ss10';
    font-size: 1.25rem;
    line-height: 1.5;
    list-style: none;
    margin: 0 .75rem 0 0;
    padding: 0;
  }
  a {
    color: inherit;
    padding: 0 .25rem;
    text-decoration: none;
    &:hover {
      background: $color-dr05-sand;
      transition: $standard-transition;
    }
  }
}
.blocks {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

div[class*="block-"] {
  height: 8rem;
}

div[class$="-b"] {
  flex-grow: 1;
}

.block-01-a, .block-03-a, .block-06-a {
  background: $color-dr05-red-700;
}

.block-01-a {
  width: $w-33;
}

.block-02-a {
  align-content: center;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  width: 100vw;
}

.block-02-b {
  display: none;
}

.block-03-a {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  width: $w-80;
}

.block-04-a {
  width: $w-20;
}

.block-05-a {
  width: $w-80;
}

.block-06-a {
  width: $w-50;
}

.block-07-a {
  width: $w-66;
}

.block-08-a {
  width: $w-80;
}
// END FRONT

.blog, .about, .shelf {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 3.25rem;
    line-height: 2.75rem;
    margin: 0;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
.blog-header, .about-header, .shelf-header {
  padding: 1rem;
  color: $color-dr00-buff-100;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  a {
    transition: $standard-transition;
    &:hover, &.nav-active {
      background: $color-dr00-buff-100;
      padding: 0 3px;
      margin-right: -3px;
    }
  }
  p {
    font-family: 'Valkyrie A';
    font-size: 1.5rem;
    font-style: italic;
    margin: 1rem 0 0 0;
  }
  ul {
    font-family: 'Valkyrie A Caps';
    font-feature-settings: 'ss10';
    font-size: 1.5rem;
    line-height: 1.5;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right
  }
}
.blog-header {
  background: $color-dr05-orange-700;
  a {
    &:hover, &.nav-active {
      color: $color-dr05-orange-700;
    }
  }
}
.posts {
  padding: 1rem;
}
article, .about-body, .shelf-body {
  font-family: 'Valkyrie A';
  font-feature-settings: 'ss01', 'liga';
  font-size: min(22px, max(16px, 3.7vw));
  line-height: 1.4;
}
.post-list-link {
  transition: $standard-transition;
}
.post-header {
  padding: 1rem 0;
  h2 {
    font-family: 'Valkyrie A';
    font-size: min(32px, max(24px, 4.5vw));
    font-weight: bold;
    line-height: 1.1;
    margin: .5rem 0 0;
  }
}
.post-date {
  font-family: 'Valkyrie A Caps';
  font-feature-settings: 'ss10';
  font-size: 1.1rem;
  line-height: 1rem;
}
.post-body, .about-body {
  p, blockquote, li {
    margin: 0 0 1rem 0;
  }
  ol, ul {
    padding-left: 2rem;
  }
  a {
    text-decoration: none;
    transition: $standard-transition;
  }
  pre, code {
    font-family: 'Triplicate A Code';
    font-feature-settings: 'ss01' 0, 'ss02' 1;
    font-size: 90%;
  }
  pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    code {
      background: none;
      white-space: pre-wrap;
    }
  }
  code {
    padding: 0.1rem;
    white-space: nowrap;
  }
}
.post-body {
  padding-top: 1rem;
  h3 {
    font-family: 'Valkyrie A Caps';
    font-feature-settings: 'smcp' 1, 'c2sc' 1, 'ss01' 1;
    line-height: 1.2;
    margin: 0 0 .5rem 0;
  }
  h4 {
    margin: 0 0 .5rem 0;
  }
  blockquote {
    padding: 1.5rem 2rem 0.5rem 2rem;
    font-size: 85%;
  }
  div.highlight {
    margin: 0 0 1rem 0;
    padding: 1rem;
  }
}
.lead-in {
  font-family: 'Valkyrie A Caps';
  font-feature-settings: 'smcp' 1, 'c2sc' 1, 'ss01' 1;
  font-weight: bold;
}
.pagination {
  display: flex;
  font-family: 'Valkyrie A Caps';
  font-feature-settings: 'smcp' 1, 'c2sc' 1, 'ss01' 1;
  justify-content: space-between;
  padding-top: 1rem;
  .newer, .page-count, .older {
    width: 33%;
  }
  .newer {
    text-align: left;
  }
  .page-count {
    text-align: center;
  }
  .older {
    text-align: right;
  }
}
.post-nav {
  display: flex;
  flex-direction: column;
  font-family: 'Valkyrie A';
  font-size: min(22px, max(16px, 3.7vw));
  font-weight: bold;
  gap: 1rem;
  padding-top: 1rem;
}

// ABOUT
.about-header {
  background: $color-dr05-red-700;
  a {
    &:hover, &.nav-active {
      color: $color-dr05-red-700;
    }
  }
}
.about-body {
  padding: 1rem;
  p:first-child {
    font-size: 1.2em;
    margin-top: 0;
  }
  h2 {
    font-family: 'Valkyrie A Caps';
    font-feature-settings: 'smcp' 1, 'c2sc' 1, 'ss01' 1;
    // Emulate default browser sizing so these H2s match the blog's H3s
    font-size: 1.17em;
    line-height: 1.2;
    margin: 0 0 .5rem 0;
  }
}
.theme-control {
  background: $color-dr05-blue-200;
  border: 2px solid $color-dr05-blue-500;
  bottom: 1rem;
  fieldset {
    border: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  legend {
    display: none;
  }
  button {
    background: none;
    border: none;
    flex-basis: 33.333333%;
    margin: 0;
    padding: 0;
    input[type="radio"] {
      display: none;
      &:checked + label {
        background: $color-dr05-red-700;
        color: $color-dr00-buff-100;
      }
    }
    label {
      color: $color-dr05-blue-900;
      cursor: pointer;
      display: inline-block;
      font-family: 'Valkyrie A Caps';
      font-feature-settings: 'ss10';
      font-size: 1.3rem;
      padding: .7rem;
      width: calc(100% - 1.4rem);
    }
  }
}
// END ABOUT

// SHELF
.shelf-header {
  background: $color-dr05-blue-700;
  a {
    &:hover, &.nav-active {
      color: $color-dr05-blue-700;
    }
  }
}
.shelf-body {
  padding: 1rem;
  gap: 2rem;
  table {
    display: none;
  }
}
.shelf-intro {
  font-size: 1.2em;
  margin-top: 0;
}
.non-table {
  p {
    margin: .5rem 0 0;
  }
  h2 {
    font-size: 1.3em;
  }
  .total {
    padding-top: 1rem;
    margin-top: 2rem;
  }
}
.game {
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}
.toggle {
  &:hover {
    .name {
      background: $color-orange-700;
      color: $color-orange-50;
    }
    .icon {
      // Recolor SVG using filter
      filter: invert(26%) sepia(60%) saturate(2235%) hue-rotate(357deg) brightness(101%) contrast(95%);
    }
  }
}
.closed {
  .game-notes {
    display: none;
  }
  .icon {
    transform: rotate(0deg);
    transition: $standard-transition;
  }
}
.open {
  .game-notes {
    display: block;
  }
  .icon {
    transform: rotate(90deg);
    transition: $standard-transition;
  }
}
a {
  color: inherit;
}
ul {
  padding-left: 2rem;
  margin: .5rem 0 1rem;
}
.cell-game {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.name {
  display: inline;
  font-size: 1.3em;
  line-height: 1.1;
  padding: 0 3px;
  margin: 0 0 0 -3px;
}
.toggle {
  cursor: pointer;
  &:hover {
    .name {
      box-decoration-break: clone;        
      -webkit-box-decoration-break: clone;        
      transition: $standard-transition;
    }
    .icon {
      transition: $standard-transition;
    }
  }
}
.icon {
  height: 20px;
  margin-top: 5px;
}
.game-notes {
  p {
    margin: .5rem 0 0;
  }
}
.badge {
  border-radius: .25rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  font-family: 'Valkyrie A Caps';
  font-feature-settings: 'smcp' 1, 'c2sc' 1, 'ss01' 1;
  font-weight: bold;
  padding: .25rem .4rem;
  text-align: left;
  vertical-align: baseline;
}
.status-backlog {
    background: $color-sky-600;
    color: $color-sky-50;
}
.status-coming-soon {
    background: $color-amber-600;
    color: $color-amber-50;
}
.status-done {
    background: $color-slate-600;
    color: $color-slate-50;
}
.status-in-progress {
    background: $color-lime-600;
    color: $color-lime-50;
}
.status-never-going-to-play {
    background: $color-rose-600;
    color: $color-rose-50;
}
.status-to-investigate {
    background: $color-purple-600;
    color: $color-purple-50;
}
.status-abandoned {
    background: $color-teal-600;
    color: $color-teal-50;
}
// END SHELF

// UTILS
.util-hidden {
  display: none;
}
.util-nowrap {
  white-space: nowrap;
}
// END UTILS
// ========================= END BASE

@media (min-width: 640px) {
  .front {
    .block-02-a {
      width: $w-80;
    }
    
    .block-02-b {
      display: block;
    }
    
    .block-03-a {
      width: $w-66;
    }
    
    .block-03-b {
      // Set a width sufficient to prevent 04-a from sliding up to row 3
      width: $w-33;
    }
  }

  .blog-header, .about-header, .shelf-header {
    padding: 2rem;
  }
  .posts, .about-body {
    padding: 2rem;
  }
  .post-header {
      padding: 2rem 0;
  }
  .post-body {
    padding: 2rem 0 1rem;
  }
  .pagination, .post-nav {
    padding-top: 2rem;
  }
  
  .shelf {
    .shelf-body {
      padding: 2rem;
      ul {
        margin: .5rem 0 0;
      }
    }
    .non-table {
      display: none;
    }
    table {
      border-collapse: collapse;
      display: table;
      font-size: min(22px, max(16px, 3.7vw));
      line-height: 1.4;
      table-layout: auto;
      width: 100%;
    }
    th, td {
      border: 1px solid;
      padding: 1rem;
      vertical-align: top;
    }
    th {
      border-bottom: 4px solid;
      font-family: 'Valkyrie A Caps';
      font-feature-settings: 'smcp' 1, 'c2sc' 1, 'ss01' 1;
      line-height: 1.2;
      text-align: left;
    }
    tfoot {
      td {
        border: none;
      }
    }
    .name {
      font-size: min(22px, max(16px, 3.7vw));
    }
    tr.total {
      border: none;
    }
  }
}

@media (min-width: 768px) {
  @include width-calc($block-gap: .75rem);
  
  .front {
    h1 {
      font-size: 9rem;
      line-height: 9rem;
    }
    
    div[class*="block-"] {
      height: 9rem;
    }
    
    // Must redeclare widths of all A blocks every time I change gap size
    .block-01-a {
      width: $w-33;
    }
    
    .block-02-a {
      width: $w-66;
    }
    
    .block-03-a {
      width: $w-50;
    }
    
    .block-03-b {
      // Set a width sufficient to prevent 04-a from sliding up to row 3
      width: $w-33;
    }
    
    .block-04-a {
      width: $w-20;
    }
    
    .block-05-a {
      width: $w-80;
    }
    
    .block-06-a {
      width: $w-50;
    }
    
    .block-07-a {
      width: $w-66;
    }
    
    .block-08-a {
      width: $w-80;
    }
  }
  .blog, .about, .shelf {
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .blog-header, .about-header, .shelf-header {
    flex-direction: column;
    justify-content: flex-start;
    width: min(237px, max(265px, 33%));
    ul {
      margin: 0;
      text-align: left;
    }
    a {
      &:hover, &.nav-active {
        margin: 0 0 0 -3px;
      }
    }
  }
  .posts, .about-body {
    width: 100%;
    max-width: 650px;
  }
  .shelf-body {
    width: 100%;
    max-width: 900px;
  }
}

@media (min-width: 1024px) {
  @include width-calc($block-gap: 1rem);
  
  .front {
    h1 {
      font-size: 10rem;
      line-height: 10rem;
    }
    
    ul {
      font-size: 1.5rem;
      line-height: 1.5;
    }
    
    div[class*="block-"] {
      height: 10rem;
    }
    
    // Must redeclare widths of all A blocks every time I change gap size
    .block-01-a {
      width: $w-33;
    }
    
    .block-04-a {
      width: $w-20;
    }
    
    .block-05-a {
      width: $w-80;
    }
  
    .block-06-a {
      width: $w-50;
    }
  
    .block-07-a {
      width: $w-66;
    }
  
    .block-08-a {
      width: $w-80;
    }
  }
}
