---
title: Infinite, Worthless Time
layout: main
page_class: blog
---

<header class="blog-header">
  <div>
    <h1>Infinite, <br>Worthless <br>Time</h1>
    <p>Notes from a temporary retirement</p>
  </div>
</header>
<main class="post-list">
  {% for post in paginator.posts %}
    <article>
      <a class="post-list-link" href="{{ post.url }}">
        <header class="post-header">
          <div class="post-date">
            {{ post.date | date: '%B %e, %Y' }}
          </div>
          <h2>{{ post.title }}</h2>
        </header>
      </a>
    </article>
  {% endfor %}

  {% comment %}
    Show pagination controls if total number of posts exceeds number of posts to show per page as defined in config.yml
  {% endcomment %}
  {% if site.posts.size > site.paginate %}
    <div class="pagination">
      <div class="newer">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}">
            Newer
          </a>
        {% endif %}
      </div>
      <div class="page-count">
        Page <span class="util-nowrap">{{ paginator.page }} of {{ paginator.total_pages }}</span>
      </div>
      <div class="older">
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}">
            Older
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}
</main>
{% include _footer.html %}