{% capture current_url %}
  {{ page.url }}
{% endcapture %}

<ul>
  {% comment %}
    Include a Home nav item except on the front page
  {% endcomment %}
  {% unless page.url == '/' %}
    <li>
      <a href="/">
        Home
      </a>
    </li>
  {% endunless %}
  {% for item in site.data.navigation %}
    {% comment %}
      Barfy, repetitive logic to get subpages to highlight the nav items
    {% endcomment %}
    {% if item.url == "/about/" and current_url contains "/about/" %}
      <li>
        <a class="{{ item.class }} nav-active" href="{{ item.url }}">
          {{ item.name }}
        </a>
      </li>
    {% elsif item.url == "/iwt/" and current_url contains "/iwt/" %}
      <li>
        <a class="{{ item.class }} nav-active" href="{{ item.url }}">
          {{ item.name }}
        </a>
      </li>
    {% else %}
      <li>
        <a class="{{ item.class }}{% if page.url == item.url %} nav-active{% endif %}" href="{{ item.url }}">
          {{ item.name }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>