<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    {% if page.url == "/about/" %}
      <script src="/assets/js/theme_write.js"></script>
    {% else %}
      <script src="/assets/js/theme_read.js"></script>
    {% endif %}
    {% if page.page_class == "shelf" %}
      <script src="/assets/js/shelf_toggle.js"></script>
    {% endif %}
    <link rel='stylesheet' href="/assets/css/cedeless.css">
    {% include _favicon.html %}
    {% if page.page_class == "blog" %}
      {% feed_meta %}
    {% endif %}
  </head> 
  <body class="{{ page.page_class }}">
    {{ content }}
  </body>
</html>