---
title: Infinite, Worthless Time
layout: base
page_class: blog
permalink: "iwt/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
---

<header class="blog-header">
  <div>
    <h1>Infinite, <br />Worthless <br />Time</h1>
    <p>Notes from a temporary retirement</p>
  </div>
</header>
<main class="post-list">
  {% for post in posts %}
  <article>
    <a class="post-list-link" href="{{ post.url }}">
      <header class="post-header">
        <div class="post-date">{{ post.date | date: '%B %e, %Y' }}</div>
        <h2>{{ post.data.title }}</h2>
      </header>
    </a>
  </article>
  {% endfor %} {% comment %} Show pagination controls if total number of posts
  exceeds number of posts to show per page as defined in front matter above {%
  endcomment %} {% if pagination.href.previous or pagination.href.next %}
  <div class="pagination">
    <div class="newer">
      {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}"> Newer </a>
      {% endif %}
    </div>

    <div class="older">
      {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}"> Older </a>
      {% endif %}
    </div>
  </div>
  {% endif %}
</main>
{% include '_footer' %}
